<H1>Implementation of maps, marge All , merge map, switch map</H1>
<ul>
  <li>
    <p>when we have a subscribe within a subscribe like case, we need to do two times subscribe , to handle
    this, we need something link a flattening operator,( merge map, concat map, switch map)</p>
  </li>
  <li>
    <h3>map + merge All = merge map</h3>
  </li>
</ul>
<div class="row ms-5">
  <div class="col-3">
    <h3><b>2 Subscribe Imple</b></h3>
    <ul id="first"></ul>
  </div>
  <div class="col-3">
    <h3><b>Map 2 implementation</b></h3>
    <ul id="second"></ul>
  </div>
  <div class="col-3">
    <h3><b>Map + MergeAll</b></h3>
    <ul id="third"></ul>
    <p>MergeAll: (flatten observable of observable)</p>

  </div>

  <div class="col-3">
    <h3><b>MergeMap</b></h3>
    <ul id="forth"></ul>
  </div>
</div>

<hr>
<h1>Map | Map+SwitchAll | SwitchMap | ConcatMap | SwitchMap | MergeMap</h1>

<h3><b>Switch map</b> special feature, cancel all previous emissions, and take only latest emission</h3>
<h3><b>Switch map</b> We can see here switchMap takes only latest emission</h3>
<h3><b>Concat map</b> We can see here ConcatMAp Emits value in the order of emission</h3>


<div class="row m-2">
  <div class="col-2">
    <h3><b> 2 Map</b></h3>
    <ul id="m1"></ul>
  </div>
  <div class="col-2">
    <h3><b> Map+SwitchAll</b></h3>
    <ul id="m2"></ul>
  </div>
  <div class="col-2">
    <h3><b> SwitchMap</b></h3>
    <ul id="m3"></ul>
  </div>
  <div class="col-3">
    <h3><b> ConcatMap</b></h3>
    <ul id="m4"></ul>
  </div>
  <div class="col-3">
    <h3><b> MergeMap</b></h3>
    <ul id="m5"></ul>
  </div>
</div>
<hr>
<div>
  <h1 class="align-self-center">Switch Map search functionality, to cancel previous query call</h1>
  <hr>
  <form #myForm="ngForm">
    <h1>Search UserName Available</h1>
    <div class="col-4">
      <input required type="text" ngModel  autocomplete="off" name="searchTerm" class="form-control mt-3 ms-5">
    </div>
  </form>  <hr>
  <ul class="list-group ms-5" id="namesResult">
    <h3><b>{{searchCount}}</b> search result found</h3>

    <li *ngFor="let res of searchResults"><p><b>{{res}}</b></p></li>
  </ul>
  <div class="results">

  </div>
</div>
<br><br>
