<h1>Angular forms , Template Dirven and Reactive</h1>
<div class="myContainer">
  <div class="model">
    <h1>Template driven Form</h1>
<form class="row row-cols-sm-auto g-3 align-items-center" (ngSubmit)="showData(myForm)" #myForm="ngForm">
  <table class="example-full-width" cellspacing="0" ngModelGroup="basicData" #basicGroup="ngModelGroup">
    <tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput name="fname" ngModel>
    </mat-form-field></td>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Last Name </mat-label>
      <input matInput name="lname" ngModel>
      </mat-form-field>
    </td>
  </tr>
  </table>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input type="text" matInput name="user" ngModel  placeholder="Enter Username">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput required name="email" ngModel #email="ngModel"  placeholder="Ex. pat@example.com">
    <span class="help-block" *ngIf="email.touched && !email.valid">Enter a valid email</span>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Pasword</mat-label>
    <input type="password" matInput name="pswd" required ngModel  placeholder="Your Password">
  </mat-form-field>

  <div class="col-6">
    <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid" >Update User</button>
  </div>

</form>
  </div>
  <hr>
  <div class="model">
    <h1>Reactive Form</h1>
    <h3>{{signupForm.get('firstName')}}</h3>
    <form [formGroup]="signupForm" (ngSubmit)="formSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">UserName</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          placeholder="Enter userName"
          formControlName="userName"
        >
        <span class="help-block"
        *ngIf='!signupForm.get("userName")?.valid && signupForm.get("userName")?.touched'   >
          Enter a valid 5 digit Username
        </span>
      </div>

      <div formGroupName="nameData">
        <div class="form-group">
          <label for="exampleInputfn">First Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputfn"
            placeholder="First Name"
            formControlName="firstName"
          >
        </div >
        <div class="form-group">
          <label for="exampleInputln">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputln"
            placeholder="Last Name"
            formControlName="lastName"
          >
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="email"
          formControlName="email"
        >
      </div>

      <div formArrayName="hobbies">
        <h3>Add Your Hobbies</h3>
        <button (click)="onAddhobbie()" class="btn btn-info btn-sm">Add Hobbie</button>
        <div class="form-group"
        *ngFor="let hobCont of getControls();let i=index">

          <input type="text" class="form-control" [formControlName]="i">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<br><br><br>


