*{
  font-size: 16px;
  margin: 0
}

kendo-pdf-export {
  font-family: "DejaVu Sans", "Arial", sans-serif;
  font-size: 16px;
}

.model{
  background-color: white;
  width: 60vw;
  overflow: auto;
  padding: 10px;
  outline-offset: 5px;
  border: 1px solid black;
  margin-bottom: 100px;
}
.placeButton{
  position:fixed;
  bottom: 10px;
  left: 40vw;
}
.model-container {
  position: absolute;
  top: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainResume{
  /*width: 100%;*/
  /*height: 700px;*/
  /*border: 2px solid red;*/
}
.top{
  background-color: #63e5ee;
  color: white;
  padding: 10px;
}
.desc{
  height: 80px;
}
.skillValue{
  line-height: normal
}
