<div class="row">
  <div class="row justify-content-center mt-5">
    <h1 class="mt-5 text-center fw-bold">Welcome, {{firstName | titlecase}} to Online Resume Builder</h1>
    <p class="bg-light fs-5 text-muted ms-5 text-center" *ngIf="showMessage">
      Loading Profile      <img src="../../../assets/images/Cube.gif" alt="spinner" height="40" width="40">

    </p>
  </div>
  <div class="col-6" *ngIf="!showMessage" >
    <div class="myContainer">
      <div class="model shadow-lg">
        <h3><b>User Profile</b></h3>
        <figure class="figure">
          <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" class="figure-img img-fluid rounded" alt="icon" height="10%" width="200">
        </figure>
        <div class="border-dark">
          <p class="h3">{{userName}}</p>
          <p class="h3">{{firstName}} {{lastName}}</p>
          <p>{{email}}</p>
        </div>
        <button class="btn btn-danger" (click)="editProfile=!editProfile">Edit Profile</button>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="myContainer" *ngIf="editProfile">
      <div class="model">
        <h3><b>Update user</b></h3>
        <form class="row row-cols-sm-auto g-3 align-items-center">
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-text">First  Name</div>
              <input type="text" [(ngModel)]="firstName" class="form-control"  placeholder="First Name" name="fname">
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-text">Last Name</div>
              <input type="text" [(ngModel)]="lastName" class="form-control"  placeholder="Last Name" name="lname">
            </div>
          </div>


          <div class="col-12">
            <div class="input-group">
              <div class="input-group-text">Your Email</div>
              <input type="email" [(ngModel)]="email" class="form-control" name="email" placeholder="Enter your email">
            </div>
          </div>

          <div class="col-12">
            <p *ngIf="isOauth" class="help-text text-muted " style="font-size: 16px">You are using oAuth login, No need of password</p>
            <div *ngIf="!isOauth" class="input-group">
              <div class="input-group-text">Password</div>
              <input  type="password" [(ngModel)]="password" [disabled]="isOauth" class="form-control" name="pswd" placeholder="Enter a strong password">
            </div>
          </div>


          <div class="col-6">
            <button type="button" class="btn btn-success float-start" [ngClass]="{disabled:disableUpdate}" (click)="saveProfileData()">Update User</button>
          </div>
          <div class="col-6 fs-4" >
            <p class="fs-5 text-muted" *ngIf="showAvailMessage">
              {{logProcessMessage}}
              <img src="../../../assets/images/Cube.gif" alt="spinner" height="40" width="40">
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

