<div>
  <p class="bg-light fs-5 text-muted text-center" *ngIf="showLoadMessage">
    Loading Data ...
    <img src="assets/images/Cube.gif" alt="spinner" height="40" width="40">
  </p>
</div>
<ng-template appPlaceholder></ng-template>

<div *ngIf="showResume" class="model-container">
  <div class=" placeButton">
    <button type="button"  class="m-3" mat-raised-button color="warn" (click)="closeResume()">Close Resume</button>
    <button type="button"  (click)="pdf.saveAs('invoice.pdf')" class="m-3" mat-raised-button color="accent">Download Resume</button>
  </div>
  <kendo-pdf-export #pdf paperSize="A4" margin="0.0cm" [scale]="0.65">

    <div class="model shadow-lg" #pdfTable>
      <div class="row top">
        <div class="col col-8">
          <h1 style="font-size: 40px">{{inpResumeData.basicDetails.firstName}} {{inpResumeData.basicDetails.lastName}}</h1>
          <h1>{{inpResumeData.basicDetails.profession}}</h1>
          <h3> Phone: +91 {{inpResumeData.basicDetails.phone}}, {{inpResumeData.basicDetails.city}}, {{inpResumeData.basicDetails.state}}, ({{inpResumeData.basicDetails.pinCode}})</h3>
        </div>
        <div class="col col-4">
          <h3>Github: {{inpResumeData.socialLink.linkedInLink}}</h3>
          <h3>Linkedin: {{inpResumeData.socialLink.gitHubLink}}</h3>
          <h3>Email: {{inpResumeData.basicDetails.email}}</h3>
        </div>
      </div>

      <div class="desc">
        <h1>Some description here</h1>
      </div>

      <div class="skills">
        <h1>Skills</h1>
        <br>
        <div class="row">
          <div class="col col-8">
            <p *ngFor="let skill of inpResumeData.skills">{{skill.name}}</p>
          </div>
          <div class="col col-4">
            <div class="progress" *ngFor="let skill of inpResumeData.skills" style="margin-bottom: 20px">
              <div class="progress-bar bg-info" role="progressbar" style="width:{{skill.level*20}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{skill.level}}</div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h1>Experience</h1>
        <div class="row" *ngFor="let job of inpResumeData.experiences">
          <div class="col col-4">
            {{job.startDate | date:'mediumDate'}} to {{job.endDate | date:'mediumDate'}}
          </div>
          <div class="col col-8">
            <h3 >{{job.jobTitle}} @ {{job.employer}}, {{job.city}}</h3>
            <ul>
              <li *ngFor="let desc of job.desc">{{desc}}</li>
            </ul>
          </div>
        </div>
      </div>

      <h1>Education</h1>
      <div class="row edu" *ngFor="let edu of inpResumeData.education">
        <div class="col col-4">
          {{edu.startDate | date:'mediumDate'}} to {{edu.endDate | date:'mediumDate'}}
        </div>
        <div class="col col-8">
          <h3>{{edu.schoolName}}, {{edu.location}}</h3>
          <p class="display-5">{{edu.degree}} [{{edu.fieldOfStudy}}]</p>
        </div>
      </div>

      <h1>Certification</h1>
      <div class="row edu" *ngFor="let cert of inpResumeData.certification">
        <div class="col col-4">
          {{cert.date | date:'mediumDate'}}
        </div>
        <div class="col col-8">
          <h3 >{{cert.name}}</h3>
          <p class="display-5">link: {{cert.link}} </p>
          <p class="display-5">{{cert.description}}</p>
        </div>
      </div>
      <h1>Hobbies</h1>
      <ul>
        <li *ngFor="let hob of inpResumeData.hobbies">{{hob}}</li>
      </ul>
    </div>
  </kendo-pdf-export>
</div>
<!--Here we will show our template-->

<!--    <h1>Accomplishment</h1>-->
<!--    <div class="row edu" *ngFor="let acc of inpResumeData.accomplishments">-->
<!--      <div class="col col-4">-->
<!--        {{acc.name}}-->
<!--      </div>-->
<!--      <div class="col col-8">-->
<!--        <h2>{{acc.description}}</h2>-->
<!--      </div>-->
<!--    </div>-->
<!--   -->

