.example-container {
  top:62px;
  width: 100vw;
  height: 95vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.example-sidenav {
  padding: 20px;
  border: 1px solid green;
  width: 20%;
}
