<div class="d-flex justify-content-center align-content-center" style="margin-top:150px;">
  <div class=" p-3">
    <h1 style="font-size: 50px">Hi, welcome to Online Resume builder 😀</h1>

    <div class="row d-flex justify-content-between align-items-center mt-5 ">
      <div class="col-4">
        <h3 style="font-size: 30px">Let's start by </h3>
      </div>
      <div class="col-4">
        <a class="googlelogin" routerLink="/auth/login" >
          <div class="login">
            <div style="float:left;padding-right: 10px">
              <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png" alt="Google Logo" height="27" width="27">
            </div>
            <span >Login with Google</span>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a class="googlelogin" routerLink="/auth/register">
          <div class="login">
            <div style="float:left;padding-right: 10px">
              <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png" alt="Google Logo" height="27" width="27">
            </div>
            <span >Signup with Google</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
