<div class="d-flex justify-content-center " style="margin-top:100px; font-size: xx-large">
  <div class="m-4 shadow-lg p-3">
    <h1>Opps 😥</h1>
    <h2>Page you are looking is not found.</h2>
    <h3 class="form-text text-muted float-start ms-1">Go to: <a routerLink="/login">Home Page</a></h3>
  </div>
</div>
