<div class="mainContainer whiteBack">
  <button *ngIf="!showForm" (click)="clickShowForm()" mat-raised-button color="primary" style="margin: 5px">New Resume</button>
  <button *ngIf="showForm" (click)="showForm=false" mat-raised-button color="warn" style="margin: 5px">Close Resume</button>
</div>
<div>
  <p class="bg-light fs-5 text-muted text-center" *ngIf="showLoadMessage">
    {{loadMessage}}
    <img src="assets/images/Cube.gif" alt="spinner" height="40" width="40">
  </p>
</div>
<!--Here starts the Angular Stepper-->
<div *ngIf="showForm" class="row d-flex align-items-center justify-content-center whiteBack ">
  <div class="col-10">
    <h3 class="form-text text-muted float-end ms-1">Please save your resume( in step no-9), to reflect the changes.</h3>
  </div>
  <div class="col-10 shadow-lg border">

    <mat-stepper [linear]="isLinear" #stepper>

      <mat-step [stepControl]="resumeFormData" >
        <form [formGroup]="resumeFormData">
          <ng-template matStepLabel>Basic Details</ng-template>
          <mat-card class="ms-1">
            <mat-form-field  class="full-width" appearance="fill">
              <mat-label>Resume Template Name</mat-label>
              <input
                matInput
                name="template"
                formControlName="resumeName"
              >
            </mat-form-field>
          </mat-card>
          <mat-card class="m-1" formGroupName="basicDetails">
            <div class="row">
              <div class="col-6">
                <mat-form-field  class="full-width" appearance="fill">
                  <mat-label>First name</mat-label>
                  <input
                    matInput
                    name="fname"
                    formControlName="firstName"
                  >
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width"  appearance="fill">
                  <mat-label>Last name</mat-label>
                  <input
                    matInput
                    name="lname"
                    formControlName="lastName"
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <mat-form-field  class="full-width" appearance="fill">
                  <mat-label>Profession</mat-label>
                  <input
                    matInput
                    name="prof"
                    formControlName="profession"
                  >
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field  class="full-width" appearance="fill">
                  <mat-label>Email ID</mat-label>
                  <input
                    matInput
                    name="email"
                    formControlName="email"
                  >
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field class="full-width"  appearance="fill">
                  <mat-label>Phone Number</mat-label>
                  <input
                    matInput
                    name="phone"
                    formControlName="phone"
                  >
                  <span matPrefix>+91&nbsp;</span>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <mat-form-field  class="full-width" appearance="fill">
                  <mat-label>City</mat-label>
                  <input
                    matInput
                    name="city"
                    formControlName="city"
                  >
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field  class="full-width" appearance="fill">
                  <mat-label>State</mat-label>
                  <input
                    matInput
                    name="state"
                    formControlName="state"
                  >
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field  class="full-width" appearance="fill">
                  <mat-label>Zip-Code</mat-label>
                  <input
                    matInput
                    name="zip"
                    placeholder="Ex. 844506"
                    formControlName="pinCode"
                  >
                </mat-form-field>
              </div>
            </div>
          </mat-card>

          <div>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="resumeFormData">
        <form [formGroup]="resumeFormData">
          <ng-template matStepLabel>Skill</ng-template>
          <mat-card class="m-3">
            <div class="position-relative">
              <h1>Skill <span matBadge="1" matBadgeSize="large">{{resumeFormData?.get('skills')?.get('length')}}</span>
              </h1>
                <button (click)="onAddSkill()" class="butPosTopRight" mat-mini-fab color="primary">
                  <mat-icon>add</mat-icon>
                </button>
            </div>
<!--              <button *ngIf="resumeFormData?.get('skills')?.get('length')" (click)="onRemoveSkill()" class="float-end" mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">-->
<!--                <mat-icon>clear</mat-icon>-->
<!--              </button>-->
            <div  formArrayName="skills">
              <mat-card class="mb-2 pb-0 ps-2"  *ngFor="let skl of getSkillsControl();index as i">
                <div [formGroupName]="i" class="position-relative">
                  <div class="row">
                    <div class="col-9">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Skill Name</mat-label>
                        <input
                          matInput
                          name="skillName"
                          formControlName="name"
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field appearance="fill">
                        <mat-label>Level</mat-label>
                        <mat-select formControlName="level">
<!--                          <mat-option [value]="0">Select</mat-option>-->
                          <mat-option [value]="5">Expert</mat-option>
                          <mat-option [value]="4">Good Knowledge</mat-option>
                          <mat-option [value]="3">Hands on Exp</mat-option>
                          <mat-option [value]="2">Begineer</mat-option>
                          <mat-option [value]="1">Trainee</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <button mat-mini-fab color="warn" *ngIf="resumeFormData?.get('skills')?.get('length')" (click)="removeIndivSkill(i)" class="butPosTopRight" >
                        <mat-icon>clear</mat-icon>
                      </button>

                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-card>
          <div>
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="resumeFormData">
        <form [formGroup]="resumeFormData">
          <ng-template matStepLabel>Project</ng-template>
          <mat-card class="m-3">
            <div class="position-relative">
              <h1>Projects {{resumeFormData?.get('projects')?.get('length')}}
                <button (click)="onAddProject()" class="butPosTopRight" mat-mini-fab color="primary">
                  <mat-icon>add</mat-icon>
                </button>
              </h1>
            </div>

            <div formArrayName="projects" >
              <mat-card class="mt-3 pb-0" *ngFor="let pro of getProjectsControl();index as i">
                <div [formGroupName]="i" class="position-relative">
                  <div class="row">
                    <mat-form-field  class="full-width" appearance="fill">
                      <mat-label>Project Name</mat-label>
                      <input
                        matInput
                        formControlName="projectName"
                      >
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Project Link</mat-label>
                        <input
                          matInput
                          formControlName="link"
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Enter Project start and end date</mat-label>
                        <mat-date-range-input class="full-width"  [rangePicker]="picker">
                          <input class="normal-height" matStartDate formControlName="startDate" placeholder="Start">
                          <input class="normal-height" matEndDate formControlName="endDate" placeholder="End">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                      </mat-form-field>
                      <!--          <p>Selected range: {{range.value | json}}</p>-->
                    </div>
                  </div>
                  <div class="row">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Project Description</mat-label>
                        <input
                          matInput
                          formControlName="desc"
                        >
                      </mat-form-field>
                      <button *ngIf="resumeFormData?.get('projects')?.get('length')" (click)="onRemoveProject(i)" class="butPosTopRight" mat-mini-fab color="warn">
                        <mat-icon>clear</mat-icon>
                      </button>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-card>
          <div>
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="resumeFormData">
        <form [formGroup]="resumeFormData">
          <ng-template matStepLabel>Exp</ng-template>
          <mat-card class="m-3">
              <div  class="position-relative">
                <h1>Experience  {{resumeFormData?.get('experiences')?.get('length')}}
                  <button (click)="onAddExperience()" mat-mini-fab color="primary" class="butPosTopRight">
                    <mat-icon>add</mat-icon>
                  </button>
                </h1>
              </div>
            <div formArrayName="experiences">
              <mat-card class="m-2" *ngFor="let skl of getExperienceControl();index as i">
                <div [formGroupName]="i" class="position-relative">
                  <button *ngIf="resumeFormData?.get('experiences')?.get('length')" (click)="onRemoveExperience(i)" class="butPosTopRight" mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                    <mat-icon>clear</mat-icon>
                  </button>
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Job Title</mat-label>
                        <input
                          matInput
                          formControlName="jobTitle"
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Company</mat-label>
                        <input
                          matInput
                          formControlName="employer"
                        >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>City</mat-label>
                        <input
                          matInput
                          formControlName="city"
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Job start and end date</mat-label>
                        <mat-date-range-input class="full-width"  [rangePicker]="picker2">
                          <input class="normal-height" matStartDate formControlName="startDate" placeholder="Start">
                          <input class="normal-height" matEndDate formControlName="endDate" placeholder="End">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker2></mat-date-range-picker>

                        <mat-error *ngIf="range2.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="range2.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                      </mat-form-field></div>
                  </div>
                  <div class="row">
                      <mat-form-field  class="full-width" appearance="fill">
                      <mat-label>Job Description</mat-label>
                      <input
                        matInput
                        formControlName="desc"
                      >
                    </mat-form-field>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-card>
          <div>
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="resumeFormData">
        <form [formGroup]="resumeFormData">
          <ng-template matStepLabel>Edu</ng-template>
          <mat-card class="m-3">
            <div class="position-relative">
              <h1>Education   {{resumeFormData?.get('education')?.get('length')}}
                <button (click)="onAddEducation()" class="butPosTopRight" mat-mini-fab color="primary">
                  <mat-icon>add</mat-icon>
                </button>
              </h1>
            </div>
            <div formArrayName="education" >
              <mat-card class="m-3" *ngFor="let skl of getEducationControl();index as i">
                <div [formGroupName]="i" class="position-relative">
                  <button *ngIf="resumeFormData?.get('education')?.get('length')" (click)="onRemoveEducation(i)" class="butPosTopRight" mat-mini-fab color="warn" >
                    <mat-icon>clear</mat-icon>
                  </button>
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Institute Name</mat-label>
                        <input
                          matInput
                          formControlName="schoolName"
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Location</mat-label>
                        <input
                          matInput
                          formControlName="location"
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Degree</mat-label>
                        <input
                          matInput
                          formControlName="degree"
                        >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Field Of Study</mat-label>
                        <input
                          matInput
                          formControlName="fieldOfStudy"
                        >
                      </mat-form-field>
                    </div>

                    <div class="col-4">
                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Education start and end date</mat-label>
                        <mat-date-range-input class="full-width"  [rangePicker]="picker3">
                          <input class="normal-height" matStartDate formControlName="startDate" placeholder="Start">
                          <input class="normal-height" matEndDate formControlName="endDate" placeholder="End">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker3></mat-date-range-picker>

                        <mat-error *ngIf="range3.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="range3.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-4">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Result Obtained</mat-label>
                        <input
                          matInput
                          formControlName="marks"
                          type="number"
                        >
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-card>
          <div>
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="resumeFormData">
        <form [formGroup]="resumeFormData">
          <ng-template matStepLabel>Cert</ng-template>
          <mat-card class="m-3">
            <div class="position-relative">
              <h1>Certification   {{resumeFormData?.get('certification')?.get('length')}}
                <button (click)="onAddCertificate()" class="butPosTopRight" mat-mini-fab color="primary" >
                  <mat-icon>add</mat-icon>
                </button>
              </h1>
            </div>
            <div formArrayName="certification">
              <mat-card class="m-3" *ngFor="let skl of getCertificationControl();index as i">
                <div [formGroupName]="i" class="position-relative">
                  <button *ngIf="resumeFormData?.get('certification')?.get('length')" (click)="onRemoveCertificate(i)" class="butPosTopRight" mat-mini-fab color="warn" >
                    <mat-icon>clear</mat-icon>
                  </button>
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input
                          matInput
                          formControlName="name"
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Description</mat-label>
                        <input
                          matInput
                          formControlName="description"
                        >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Link of certificte</mat-label>
                        <input
                          matInput
                          formControlName="link"
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="fill">
                        <mat-label>Date Of Completion</mat-label>
                        <input class="full-width" matInput formControlName="date" [matDatepicker]="picker4">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-card>
          <div>
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="resumeFormData">
        <form [formGroup]="resumeFormData">
          <ng-template matStepLabel>Hobbies</ng-template>
          <mat-card class="m-3">
            <h1>Hobbies</h1>
            <div class="row">
              <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Your Hobbies</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip *ngFor="let fruit of hobbies" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(fruit)">
                    {{fruit.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input class="normal-height" placeholder="New Hobbie..."
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
            </div>
          </mat-card>
          <div>
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="resumeFormData">
        <form [formGroup]="resumeFormData">
          <ng-template matStepLabel>Links</ng-template>
          <mat-card class="m-3" formGroupName="socialLink">
            <h1>Social Website</h1>
            <mat-card class="m-3" >
              <div class="row">
                <div class="col-4">
                  <h2>Github</h2>
                </div>
                <div class="col-8">
                  <mat-form-field  class="full-width" appearance="fill">
                    <mat-label>Link</mat-label>
                    <input
                      matInput
                      formControlName="linkedInLink"
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <h2>LinkedIn</h2>
                </div>
                <div class="col-8">
                  <mat-form-field  class="full-width" appearance="fill">
                    <mat-label>Link</mat-label>
                    <input
                      matInput
                      formControlName="gitHubLink"
                    >
                  </mat-form-field>
                </div>
              </div>
            </mat-card>
          </mat-card>
          <div>
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>All details Entered, now you can View and Download the Resume.</p>
        <button type="button" (click)="resetFormResume()" class="ms-3" mat-raised-button color="primary">Reset Data</button>
        <button type="button" (click)="deleteResume()" [disabled]="currentResumeID==''" class="ms-3" mat-raised-button color="warn">Delete Resume</button>
        <button type="button" (click)="updateResume()" [disabled]="currentResumeID==''" class="ms-3" mat-raised-button color="accent">Update Resume</button>
        <div class="float-end">
          <button type="button" (click)="saveResumeDate()" [disabled]="disableSubmit" mat-raised-button color="primary">Save Resume</button>
        </div>
        <div>
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>

<!--Before is the Angular Stepper-->
