<h1 class="alert-heading">Welcome to your resume page</h1>

<div class="row allResume d-flex justify-content-center">
  <div style="width: 100%; text-align: center;margin: 0">
    <h1><b>All Your Resume  </b>
      <span *ngIf="loadingStatus">{{message}}
        <img src="assets/images/Cube.gif" alt="spinner" height="40" width="40">
      </span>
      </h1>
  </div>
  <h3 class="fw-bold allResume" *ngIf="allResume?.length==0">No Resume Created. Start by building your first resume</h3>
  <div class="resumeCard m-2" *ngFor="let data of allResume" [ngClass]="{'selectedResume' : selectedResume==resId.innerText}">

    <h4 style="overflow-x: hidden">
      <b >{{data.resumeName}}</b>
    </h4>
    <p #resId id="resId">{{data._id}}</p>
    <div class="buttonGroup">
      <button mat-icon-button color="primary" (click)="editResume(resId)" title="Edit Resume" aria-label="Edit resume"  >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="previewResume(resId)" title="Preview Resume" aria-label="Preview resume"  >
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteResume(data._id)" title="Delete Resume" aria-label="Preview resume"  >
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="templateChange(data._id)" title="Change Resume Design"  style="margin: 0px">Change Design</button>
    </div>
  </div>
</div >
<app-form-data></app-form-data>
<app-display></app-display>

<!--for changing the resume template-->
<div *ngIf="showTemplates" class="row allTemplates">
  <h1 style="width: 100%; text-align: center;margin: 0">Resume Templates</h1>

  <div class="templateCard m-2" *ngFor="let temp of templates;index as i" (click)="showSelectedDesign(i)">
    <img class="brochure-poster" [src]="temp.loc" height="100%" width="100%"/>
  </div>

</div>

