<div class="myContainer">
  <div class="row justify-content-center">
    <a id="googlelogin" (click)="loginWithGoogle()">
      <div id="login">
        <div style="float:left;padding-right: 10px">
          <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png" alt="Google Logo" height="27" width="27">
        </div>
        <span >Login with Google</span>
      </div>
    </a>
  </div>

  <div class="model shadow-lg m-5">
    <h3>Login user</h3>
    <form class="row row-cols-sm-auto g-3 align-items-center">

      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">User Name     </div>
          <input type="text"  [(ngModel)]="userName" class="form-control" name="usr" placeholder="Enter Your username">
        </div>
      </div>

      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">Password</div>
          <input type="password" [(ngModel)]="password" class="form-control" name="pswd" placeholder="Enter your password">
        </div>
      </div>


      <div class="col-12">
        <button type="button" class="btn btn-success float-end" (click)="callLoginUser()">Login User</button>
        <h3 class="form-text text-muted float-start ms-1"><a routerLink="/auth/forgetPassword">Forgot Password</a></h3>
      </div>
    </form>
  </div>
  <p class="fs-5 " *ngIf="showMessage">
    {{logProcessMessage}}
    <img src="assets/images/Cube.gif" alt="spinner" height="40" width="40">
  </p>
</div>
