<div class="hidden">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="list-group">
        <h1>Features Available</h1>
        <a href="#" routerLink="/operator" class="list-group-item list-group-item-action">Operators</a>
        <a href="#" routerLink="/profile" class="list-group-item list-group-item-action">Profile</a>
        <a href="#" routerLink="/resume" class="list-group-item list-group-item-action">Resume Builder</a>
        <button mat-raised-button color="warn" class="mt-2" (click)="logoutUser()">Logout User</button>

      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button class="top-left" mat-raised-button color="primary" (click)="toggleSideBar() ">
        <mat-icon>{{sideBarOpen? 'close' : 'menu'}}</mat-icon>
        <span *ngIf="!sideBarOpen">Open SideBar</span>
        <span *ngIf="sideBarOpen">Close SideBar</span>
      </button>

      <router-outlet></router-outlet>

    </div>

  </mat-drawer-container>
</div>

<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
