@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.hidden{
  overflow-y: hidden;
}
.top-left{
  position: absolute;
  top: 10px;
  left: 10px;
}
.example-container {
  top:62px;
  width: 100vw;
  height: 95vh;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 10px;
  width: 20%;
}
.list-group-item{
  line-height: 50px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
