<div class="m-3">
  <h1>Retry Oprtator</h1>
  <h2>Retry, Retry When,Scan & Delay</h2>
  <div>
    <hr>
    <p><b>Retry</b> operator can be used to send request again in case of some failure.</p>
    <h3>Information from Server</h3>
    <div class="col-md-6">
        <table class="table">
          <tr>
            <td>Name</td>
            <td>{{name}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{email}}</td>
          </tr>
          <tr>
            <td>User Name</td>
            <td>{{userName}}</td>
          </tr>
        </table>
      <button *ngIf="!fetchingData" class="btn btn-success" (click)="fetchDetails()">Load Data</button>
      <div *ngIf="fetchingData" class="spinner-border text-danger" role="status"></div>
      <p>Status : <b>{{info}}</b></p>
    </div>
  </div>
</div>
