<app-navbar (barSelected)="onNavigate($event)" ></app-navbar>
<router-outlet></router-outlet>

<button class="btn btn-light bottom-0 visually-hidden" routerLink="/concept">Go to concept imp</button>
<button class="btn btn-light bottom-0 visually-hidden" routerLink="/forms">Go to form impl</button>

