.model{
  height: fit-content;
  width: 40%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #927e7e;
  background: #DBE9EA;
  font-size: 2rem;
  text-align: center;
  margin-top: 3%;
}
.myContainer{
  display: grid;
  place-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  margin-top: 90px;

}

#googlelogin{
  text-decoration: none;
  margin: 5%;
}
#login{
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  /* border: solid rgb(0, 0, 0) 1px; */
  border-radius: 5px;
  width: fit-content;
  font-size:25px;
  color: #939393;
  box-shadow:0.3px 0.3px 1px 0.3px #939393;
}
#login:hover{
  box-shadow:1px 1px 2px 1px #939393;
  cursor: pointer;
}
