<h1 class="align-content-center">All Operator Implemented here 😄</h1>
<a  class="btn btn-primary btn-lg m-3"  routerLink="subject" role="button" aria-disabled="true">Subjects</a>
<a class="btn btn-primary btn-lg m-3" role="button" routerLink="maps" aria-disabled="true">Maps</a>
<a class="btn btn-primary btn-lg m-3" routerLink="take" role="button" aria-disabled="true">Take Operator</a>
<a class="btn btn-primary btn-lg m-3" routerLink="retry" role="button" aria-disabled="true">Retry Operator</a>

<hr>
<router-outlet></router-outlet>
